.tituCa{
    color: white;
  text-align: center;
  margin-bottom: 30px;
}
.img{
  width:800px;
   height:600px;
}


@media  screen and (max-height: 712px) {
  .img{
    height: 440px;
    width:700px;
  }
  .tituCa{
   margin-top: 40px;
  }
}
