

.caro{
  width:700px;
  height:450px;
}


.img{
  width: 700px;
  height: 460px;
}

@media  screen and (max-width: 550px) {
  .caro{
    width:300px;
    height: 300px;
  }
  .img{
 width: 300px;
 height:300px;
  }
}
