
.container{
background-color: #fff;
border-radius: 20px;
}

.titu{
color: rgb(0, 0, 0);
text-align: center;
padding-top: 20px;
}

.Form{
display: flex;
flex-direction: column;
justify-content:center;
align-items:center;
width:500px;
height:500px;

}

.input{
    width:300px;
    height: 100px;
    
}

.botonForm{
    width: 140px;
    height: 30px;
    margin: 20px;
    color: #fff;
    background-color: #2880ce;
    border-radius: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}