.Proyecto{
    width: 100%;
    height: 100%;
display: grid;
justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    grid-template-rows: 100px 4fr;
gap: 20px;
margin-bottom: 40px;

}


.Proye{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row: 2;
    margin: 30px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 15px;
}

.container{
    width:100%;
  height : 100vh;
  background-color: rgb(6 6 6);
}

.titulo{
    color: azure;
   
   text-align: center;
justify-content: center;
 grid-column: 2;
 margin-top: 50px;
}

.img{
   margin-bottom:30px;
}