.Proyecto{
    width: 100%;
    height: 100%;
display: grid;
justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    grid-template-rows: 100px 4fr;
gap: 20px;

}


.Proye{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row: 2;
    margin: 20px;
}

.container{
 height : 100vh;
    background-color: azure;
}

.titulo{
   text-align: center;
 background-color: aliceblue;
justify-content: center;
 grid-column: 2;
}
