.Canvas{
    width:200px;
    height: 200px;
    background-color:rgb(0, 0, 0);
    border-radius:30px;
}

.container{
    width:65%;
    height:90%;
    border-radius: 30px;;
    
}



.titu{
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 1.8em;

}

@media  screen and (max-width: 550px) {
    .container{
        height:300px;
    }
}